<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Template</title>
    <link rel="stylesheet" href="css/libs/bootstrap.min.css">
    <link rel="stylesheet" href="css/libs/bootstrap-select.min.css">
    <link rel="stylesheet" href="css/libs/font-awesome.min.css">
    <link rel="stylesheet" href="css/style.css">
    <script type="text/javascript" src="js/libs/jquery.min.js"></script>
    <script type="text/javascript" src="js/libs/promise.min.js"></script>
    <script type="text/javascript" src="js/libs/fetch.js"></script>
    <script type="text/javascript" src="js/libs/bootstrap.min.js"></script>
    <script type="text/javascript" src="js/libs/bootstrap-select.min.js"></script>
    <script type="text/javascript" src="js/angular/vendor/angular.min.js"></script>
  </head>
  <body ng-app="storeHomeApp">
    <div ng-controller="catalogController">
      <div class="container header-back">
        <div class="row header-row">
          <div class="col-xs-2 col-sm-3 col-md-3 col-lg-3 hidde-xs"><a href="index.html" class="logotype">
              <h1 class="hidden-xs">Template</h1>
              <h1 class="visible-xs">TL</h1></a></div>
          <div class="col-xs-3 col-sm-4 col-md-5 col-lg-6">
            <select country-select="" class="country">
              <option title="UK">United Kingdom</option>
              <option title="USA">United States</option>
              <option title="Scot">Scotland</option>
              <option title="Ger">Germany</option>
              <option title="Fr">French</option>
              <option title="It">Italy</option>
              <option title="Sw">Swedish</option>
              <option title="Sp">Spain</option>
              <option title="Ir">Ireland</option>
            </select>
          </div>
          <div class="col-sm-2 col-md-2 col-lg-2 hidden-xs"><a href="#" class="sign-up">
              <p>E-mail sign up</p></a></div>
          <div class="col-xs-5 col-sm-3 col-md-2 col-lg-1"><a href="#" bag-menu="" class="bag-link"><img src="img/pouch.png" class="hidden-xs hidden-xs">
              <p>Bag</p></a></div>
          <div class="col-xs-2 visible-xs">
            <button type="button" data-toggle="collapse" data-target="#menu" aria-expanded="false" nav-small-menu="" class="navbar-toggle collapsed"><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
          </div>
        </div>
        <div class="row header-navmenu hidden-xs">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <nav class="navbar default-navbar">
              <div id="menu" class="navbar-collapse collapse">
                <ul class="nav navbar-nav nav-menu">
                  <li><a href="womenCatalog.html">Women</a></li>
                  <li><a href="category-men.html">Men</a></li>
                  <li><a href="#">Handbags</a></li>
                  <li><a href="#">Accessories</a></li>
                  <li><a href="#">Sale</a></li>
                  <li><a href="#">New Arrivals</a></li>
                  <li><a href="#">Clearance</a></li>
                  <li><a href="#">Store Locator</a></li>
                </ul>
                <form role="Search" class="navbar-form navbar-right">
                  <div class="form-group">
                    <input type="text" placeholder="Style Name" class="form-controll">
                    <button type="submit" class="search-button"><i class="fa fa-search"></i></button>
                  </div>
                </form>
              </div>
            </nav>
          </div>
        </div>
      </div>
      <div class="filter">
        <div goods-filter="" class="container">
          <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 padding-0">
              <form name="filters" method="post" class="hidden-sm hidden-xs">
                <select name="womFash[]" ng-model="fashionSelect" ng-options="wFashion.value for wFashion in womenFashions" multiple class="fashion-filter filter-select"></select>
                <select name="womType[]" ng-model="TypeSelect" ng-options="wType.value for wType in womenTypes" multiple class="type-filter filter-select"></select>
                <select name="womColor[]" ng-model="ColorSelect" ng-options="fColor.value for fColor in colors" multiple class="color-filter filter-select"></select>
                <select name="womBrand[]" ng-model="BrandSelect" ng-options="brand.value for brand in brands" multiple class="brand-filter filter-select"></select>
                <select name="womSize[]" ng-model="SizeSelect" ng-options="size.value for size in sizes" multiple class="size-filter filter-select"></select>
                <select name="womPrice[]" ng-model="PriceSelect" ng-options="price.value for price in prices" multiple class="price-filter filter-select"></select>
              </form>
              <form method="" action="" class="visible-xs visible-sm">
                <div small-filter="" class="smf-bar">
                  <button type="button" class="smf-btn btn btn-default">
                    <ul class="smf-btn-title">
                      <li>
                        <p data-filter-txt="Fashion," class="fashion-p">Fashion,</p>
                      </li>
                      <li>
                        <p data-filter-txt="Product type," class="type-p">Product type,</p>
                      </li>
                      <li>
                        <p data-filter-txt="Color," class="color-p">Color,</p>
                      </li>
                      <li>
                        <p data-filter-txt="Brand," class="brand-p">Brand,</p>
                      </li>
                      <li>
                        <p data-filter-txt="Size," class="size-p">Size,</p>
                      </li>
                      <li>
                        <p data-filter-txt="Price range" class="price-p">Price range</p>
                      </li>
                    </ul><span class="filter-caret car-cl"><i class="fa fa-times"></i></span>
                  </button>
                  <div class="smf-drop-menu">
                    <h3 class="smf-dropmen-h">Drag and Select</h3>
                    <div class="filterSelct-row">
                      <h5 class="smf-row-h">Fashion</h5>
                      <div class="smul-wrap">
                        <ul class="smf-fashion smf-ul">
                          <li class="f-nSelectLi naughtS"><a href="#" data-filter-select="fashion" class="f-nSelect">Not selected,</a></li>
                          <li ng-repeat="WF in womenFashions"><a href="#" data-filter-select="fashion" class="f-select">{{ WF.value }}</a></li>
                        </ul>
                      </div>
                    </div>
                    <div class="filterSelct-row">
                      <h5 class="smf-row-h">Product type</h5>
                      <div class="smul-wrap">
                        <ul class="smf-type smf-ul">
                          <li class="f-nSelectLi naughtS"><a href="#" data-filter-select="type" class="f-nSelect">Not selected,</a></li>
                          <li ng-repeat="WT in womenTypes"><a href="#" data-filter-select="type" class="f-select">{{ WT.value }}</a></li>
                        </ul>
                      </div>
                    </div>
                    <div class="filterSelct-row">
                      <h5 class="smf-row-h">Color</h5>
                      <div class="smul-wrap">
                        <ul class="smf-color smf-ul">
                          <li class="f-nSelectLi naughtS"><a href="#" data-filter-select="color" class="f-nSelect">Not selected,</a></li>
                          <li ng-repeat="clr in colors"><a href="#" data-filter-select="color" class="f-select">{{ clr.value }}</a></li>
                        </ul>
                      </div>
                    </div>
                    <div class="filterSelct-row">
                      <h5 class="smf-row-h">Brand</h5>
                      <div class="smul-wrap">
                        <ul class="smf-brand smf-ul">
                          <li class="f-nSelectLi naughtS"><a href="#" data-filter-select="brand" class="f-nSelect">Not selected,</a></li>
                          <li ng-repeat="brand in brands"><a href="#" data-filter-select="brand" class="f-select">{{ brand.value }}</a></li>
                        </ul>
                      </div>
                    </div>
                    <div class="filterSelct-row">
                      <h5 class="smf-row-h">Size</h5>
                      <div class="smul-wrap">
                        <ul class="smf-size smf-ul">
                          <li class="f-nSelectLi naughtS"><a href="#" data-filter-select="size" class="f-nSelect">Not selected,</a></li>
                          <li ng-repeat="size in sizes"><a href="#" data-filter-select="size" class="f-select">{{ size.value }}</a></li>
                        </ul>
                      </div>
                    </div>
                    <div class="filterSelct-row">
                      <h5 class="smf-row-h">Price range</h5>
                      <div class="smul-wrap">
                        <ul class="smf-price smf-ul">
                          <li class="f-nSelectLi naughtS"><a href="#" data-filter-select="price" class="f-nSelect">Not selected,</a></li>
                          <li ng-repeat="price in prices"><a href="#" data-filter-select="price" class="f-select">{{ price.value }}</a></li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
      <div class="container margin-bottom-15">
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <h3 class="news-header">Last weekend <span>extra 50%</span> off on all reduced boots and shoulder bags</h3>
            <p class="news-p">This offer is valid in-store and online. Prices displayed reflect this additional discount. This offer ends at 11:59 GMT on March 1st 2015</p>
          </div>
          <div ng-repeat="good in goods" class="col-xs-6 col-sm-4 col-md-3 col-lg-3 arrivals">
            <new-arrivals info="good"></new-arrivals>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12"><a href="#" class="arrival-button">Show more</a></div>
        </div>
      </div>
      <div class="container-fluid">
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 padding-0"><a href="#" class="big-block-catalog"><img src="img/adidas-hoody.png" class="bb-img">
              <h3 class="bb-h">
                Adidas Blue<br />
                <span>For men</span>
              </h3></a><a href="#" class="block-catalog hidden-xs"><img src="img/repair-patches.png" class="fb-img">
              <h3 class="fb-h">
                Repair Patches<br />
                <span><i class="fa fa-gbp"></i> 150.50</span>
              </h3></a><a href="#" class="other-block-catalog hidden-sm hidden-xs"><img src="img/purse.png" class="sb-img">
              <h3 class="sb-h">
                Sale<br />
                <span>-70%</span>
              </h3></a></div>
        </div>
      </div>
      <div class="container-fluid margin-bottom-3">
        <div class="row">
          <div class="col-xs-12 col-sm-7 col-md-6 col-lg-6 footer-border-right">
            <div class="quick-links">
              <h4 class="footer-list-header">Quick Links</h4>
              <ul class="footer-list">
                <li><a href="#">Store locator</a></li>
                <li><a href="#">Gift cards</a></li>
                <li><a href="#">Size guide</a></li>
                <li><a href="#">About us</a></li>
                <li><a href="#">Support</a></li>
              </ul>
            </div>
            <div class="custom-care">
              <h4 class="footer-list-header">Custom Care</h4>
              <ul class="footer-list">
                <li><a href="#">Custom service</a></li>
                <li><a href="#">Track my order</a></li>
                <li><a href="#">Return policy</a></li>
                <li><a href="#">Shipping & delivery</a></li>
                <li><a href="#">Contact us</a></li>
                <li><a href="#">Careers</a></li>
              </ul>
            </div>
          </div>
          <div class="col-xs-12 col-sm-5 col-md-6 col-lg-6 footer-border">
            <div class="question">
              <div class="phone-question">
                <h4 class="footer-header">Question</h4>
                <p class="question-p"><i class="fa fa-twitter"></i> Tweet us <a href="#" class="tweeter-template">@Template</a></p>
              </div>
            </div>
            <div class="phone-order">
              <div class="phone-question">
                <h4 class="footer-header">Order by Phone</h4>
                <p class="phone-order-number">8-892-654-61-37</p>
              </div>
            </div>
            <p class="own-dilevery hidden-sm hidden-xs">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam suscipit euismod nisi ut fringilla. Donec et tellus ut magna dignissim bibendum et placerat enim. Cum sociis natoque penatibus et magnis dis parturient montes.</p>
            <div class="social-network-block">
              <ul class="policy-map visible-xs">
                <li><a href="#">Legal notice</a></li>
                <li><a href="#">Privacy policy</a></li>
                <li><a href="#">Site map</a></li>
              </ul>
              <ul class="social-network">
                <li><a href="#" class="facebook-link"><i class="fa fa-facebook"></i></a></li>
                <li><a href="#" class="twitter-link"><i class="fa fa-twitter"></i></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="container margin-bottom-2">
        <div class="row">
          <div class="col-xs-8 col-sm-5 col-md-4 col-lg-4">
            <p class="copyright"><i class="fa fa-copyright"></i> 2010-2015, The Template Group inc.</p>
          </div>
          <div class="col-xs-4 col-sm-2 col-md-4 col-lg-4">
            <p class="share">Share <span>1437</span></p>
          </div>
          <div class="col-sm-5 col-md-4 col-lg-4">
            <ul class="policy-map hidden-xs">
              <li><a href="#">Legal notice</a></li>
              <li><a href="#">Privacy policy</a></li>
              <li><a href="#">Site map</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="bag-mn hide">
        <div class="modal-content">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 bag-header">
            <h2>Shopping bag</h2>
          </div>
          <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
            <div class="bag-img"><img src="">
              <p class="bag-cost">£390.25</p>
            </div>
            <div class="bag-inf">
              <h4 class="bag-h">Only Sinny Jeans</h4>
              <p class="bagItm-inf">
                Color: Phillipa wash</br>
                Size: UK 17</br>
                Quantity: 1
              </p><a href="#" class="bagDet-chng">Change Details</a>
            </div>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 bag-footer"></div>
        </div>
      </div>
      <div class="modal-back"></div>
    </div>
  </body>
  <script type="text/javascript" src="js/angular/app.js"></script>
  <script type="text/javascript" src="js/angular/controller/catalogController.js"></script>
  <script type="text/javascript" src="js/angular/directives/newArrivals.js"></script>
  <script type="text/javascript" src="js/angular/directives/navSmallMenu.js"></script>
  <script type="text/javascript" src="js/angular/directives/goodsFilter.js"></script>
  <script type="text/javascript" src="js/angular/directives/countrySelect.js"></script>
  <script type="text/javascript" src="js/angular/directives/smallFilter.js"></script>
  <script type="text/javascript" src="js/angular/directives/bagMenu.js"></script>
</html>