@font-face
	font-family LatoBold
	src url(../fonts/LatoBold.eot) foramt('eot'),
	url(../fonts/LatoBold.woff) foramt('woff'),
	url(../fonts/LatoBold.ttf) foramt('truetype')

@font-face
	font-family OpenSans
	src url(../fonts/OpenSansRegular.eot) format('eot'),
	url(../fonts/OpenSansRegular.woff) format('woff'),
	url(../fonts/OpenSansRegular.ttf) format('truetype')

@font-face
	font-family OpenSansBold
	src url(../fonts/OpenSansBold.eot) format('eot'),
	url(../fonts/OpenSansBold.woff) format('woff'),
	url(../fonts/OpenSansBold.ttf) format('truetype')

@font-face
	font-family OpenSansSemi
	src url(../fonts/OpenSansSemiBold.eot) format('eot'),
	url(../fonts/OpenSansSemiBold.woff) format('woff'),
	url(../fonts/OpenSansSemiBold.ttf) format('truetype')

@font-face
	font-family LatoItalic
	src url(../fonts/LatoItalic.eot) format('eot'),
	url(../fonts/LatoItalic.woff) format('woff'),
	url(../fonts/LatoItalic.ttf) format('truetype')

@font-face
	font-family FontAwesome
	src url(../fonts/fontawesome-webfont.eot) format('eot'),
	url(../fonts/fontawesome-webfont.woff) format('woff'),
	url(../fonts/fontawesome-webfont.ttf) format('truetype')

@font-face
	font-family Glyphicons Halflings
	src url(../fonts/glyphicons-halflings-regular.eot) format('eot'),
	url(../fonts/glyphicons-halflings-regular.woff) format('woff'),
	url(../fonts/glyphicons-halflings-regular.ttf) format('truetype')