//				backgrounds
header-back = #ffffff
collect-back = #ffffff
dot-back = #bbbbbb
dot-active = #f14a58
share-back = #f4f4f4
filter-background = #f2f2f2
//				Colors
header-color = rgba(0,0,0,1)
header-white = #ffffff
logo-color = header-color
nav-color = header-color
seek-color = #aeadad
carName-color = #f14a58
search-bord = #e5e5e5
car-bord = rgba(179,179,179,0.5)
news-bord = search-bord
news-categ-color = #979797
category-hovr = rgba(0,0,0,0.7)
button-color = rgba(0,0,0,1)
button-hovr = rgba(0,0,0,0.7)
button-bord = #e5e5e5
spHeader-color = #000000
template-bord = search-bord
text-link = #f14a58
footer-color = rgba(0,0,0,1)
footer-hovr = rgba(0,0,0,0.7)
footer-bord = #e5e5e5
tweet-sign-color = #d7d7d7
footer-italic-color = #818181
select-filter = #000000
option-filter = #f14a58
smFilter-clr = #a8a8a8
//				Fonts
logo-font = LatoBold
helv-serif = Helvetica, serif
nav-font = OpenSansSemi
Header-font = OpenSansSemi
carName-font = LatoBold
carPar-font = OpenSans
news-categ-font = LatoItalic
button-family = OpenSansSemi
spHeader-font = LatoItalic
footer-italic = LatoItalic
filter-font = OpenSansSemi
