.bag-mn.hide
	.modal-content
		.col-xs-12.col-sm-12.col-md-12.col-lg-12.bag-header
			h2 Shopping bag
		.col-xs-6.col-sm-6.col-md-6.col-lg-6
			.bag-img
				img(src="")
				p.bag-cost £390.25
			.bag-inf
				h4.bag-h Only Sinny Jeans
				p.bagItm-inf
					|Color: Phillipa wash</br>
					|Size: UK 17</br>
					|Quantity: 1
				a(href="#" class="bagDet-chng") Change Details
		.col-xs-12.col-sm-12.col-md-12.col-lg-12.bag-footer
