.container-fluid.margin-bottom-3
	.row
		.col-xs-12.col-sm-7.col-md-6.col-lg-6.footer-border-right
			.quick-links
				h4.footer-list-header Quick Links
				ul.footer-list
					li
						a(href="#") Store locator
					li
						a(href="#") Gift cards
					li
						a(href="#") Size guide
					li
						a(href="#") About us
					li
						a(href="#") Support
			.custom-care
				h4.footer-list-header Custom Care
				ul.footer-list
					li
						a(href="#") Custom service
					li
						a(href="#") Track my order
					li
						a(href="#") Return policy
					li
						a(href="#") Shipping & delivery
					li
						a(href="#") Contact us
					li
						a(href="#") Careers
		.col-xs-12.col-sm-5.col-md-6.col-lg-6.footer-border
			.question
				.phone-question
					h4.footer-header Question
					p.question-p
						|<i class="fa fa-twitter"></i> Tweet us <a href="#" class="tweeter-template">@Template</a>
			.phone-order
				.phone-question
					h4.footer-header Order by Phone
					p.phone-order-number 8-892-654-61-37
			p.own-dilevery.hidden-sm.hidden-xs Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam suscipit euismod nisi ut fringilla. Donec et tellus ut magna dignissim bibendum et placerat enim. Cum sociis natoque penatibus et magnis dis parturient montes.
			.social-network-block
				ul.policy-map.visible-xs
					li
						a(href="#") Legal notice
					li
						a(href="#") Privacy policy
					li
						a(href="#") Site map
				ul.social-network
					li
						a(href="#" class="facebook-link")
							|<i class="fa fa-facebook"></i>
					li
						a(href="#" class="twitter-link")
							|<i class="fa fa-twitter"></i>
.container.margin-bottom-2
	.row
		.col-xs-8.col-sm-5.col-md-4.col-lg-4
			p.copyright <i class="fa fa-copyright"></i> 2010-2015, The Template Group inc.
		.col-xs-4.col-sm-2.col-md-4.col-lg-4
			p.share Share <span>1437</span>
		.col-sm-5.col-md-4.col-lg-4
			ul.policy-map.hidden-xs
				li
					a(href="#") Legal notice
				li
					a(href="#") Privacy policy
				li
					a(href="#") Site map
