doctype html
html(lang='en' ng-app="storeHomeApp")
	head
		meta(charset="utf-8")
		meta(http-equiv="X-UA-Compatible", content="IE=edge")
		meta(name="viewport", content="width=device-width, initial-scale=1")
		title Template
		link(rel="stylesheet", href="css/libs/bootstrap.min.css")
		link(rel="stylesheet", href="css/libs/bootstrap-select.min.css")
		link(rel="stylesheet", href="css/libs/font-awesome.min.css")
		link(rel="stylesheet", href="css/style.css")
	body
		include utils/header
		div(ui-view)
		include utils/footer
		include utils/bag
		.modal-back
	script(type="text/javascript", src="js/libs/jquery.min.js")
	script(type="text/javascript", src="js/libs/promise.min.js")
	script(type="text/javascript", src="js/libs/fetch.js")
	script(type="text/javascript", src="js/libs/bootstrap.min.js")
	script(type="text/javascript", src="js/libs/bootstrap-select.min.js")
	script(type="text/javascript", src="js/angular/vendor/angular.min.js")
	script(type="text/javascript", src="js/angular/vendor/angular-ui-router.min.js")
	//- script(type="text/javascript", src="js/angular/vendor/angular-route.min.js")
	//- script(type="text/javascript", src="js/script.js")

	//-				Modules
	script(type="text/javascript", src="js/angular/app.js")
	
	//-				Controllers
	script(type="text/javascript", src="js/angular/controller/mainController.js")
	script(type="text/javascript", src="js/angular/controller/indexController.js")
	script(type="text/javascript", src="js/angular/controller/catalogController.js")
	//-				Directives
	script(type="text/javascript", src="js/angular/directives/newArrivals.js")
	script(type="text/javascript", src="js/angular/directives/navSmallMenu.js")
	script(type="text/javascript", src="js/angular/directives/slickCarousel.js")
	script(type="text/javascript", src="js/angular/directives/countrySelect.js")
	script(type="text/javascript", src="js/angular/directives/bagMenu.js")
	//- script(type="text/javascript", src="js/angular/directives/filterSelect.js")
	//- script(type="text/javascript", src="js/angular/directives/filterMenu.js")
	script(type="text/javascript", src="js/angular/directives/smFilterMenu.js")
	script(type="text/javascript", src="js/angular/directives/goodsFilter.js")
	script(type="text/javascript", src="js/angular/directives/preventDef.js")
	script(type="text/javascript", src="js/angular/directives/smallFilter.js")
	//- script(type="text/javascript", src="js/script.js")