doctype html
html
	include utils/head
	body(ng-app="storeHomeApp")
		include utils/header
		div(ng-controller="catalogController")
			.filter
				.container
					.row
						.col-xs-12.col-sm-12.col-md-12.col-lg-12.padding-0
							form.hide-sm
								select(name="womFash[]" ng-model="fashionSelect" ng-options="wFashion.style for wFashion in womenFashions" class="fashion-filter filter-select" multiple)
								select(name="womType[]" ng-model="TypeSelect" ng-options="wType.type for wType in womenTypes" class="type-filter filter-select" multiple)
								select(name="womColor[]" ng-model="ColorSelect" ng-options="fColor.color for fColor in colors" class="color-filter filter-select" multiple)
								select(name="womBrand[]" ng-model="BrandSelect" ng-options="brand.name for brand in brands" class="brand-filter filter-select" multiple)
								select(name="womSize[]" ng-model="SizeSelect" ng-options="size.value for size in sizes" class="size-filter filter-select" multiple)
							//- form.visible-sm
							//- 	select(name="catal-filters[]")
							//- 		option
							//- 			optgroup(lable="Fashion")
							//- 				option
							//- 					Cassual Cassual style

			.container.margin-bottom-15
				.row
					.col-xs-12.col-sm-12.col-md-12.col-lg-12
						h3.news-header
							|Last weekend <span>extra 50%</span> off on all reduced boots and shoulder bags
						p.news-p This offer is valid in-store and online. Prices displayed reflect this additional discount. This offer ends at 11:59 GMT on March 1st 2015
					.col-xs-6.col-sm-4.col-md-3.col-lg-3(ng-repeat="good in goods" class="arrivals")
						new-arrivals(info='good')
					.col-xs-12.col-sm-12.col-md-12.col-lg-12
						a(href="#" class="arrival-button") Show more
			.container-fluid
				.row
					.col-xs-12.col-sm-12.col-md-12.col-lg-12.padding-0
						a(href="#" class="big-block-catalog")
							img(src="img/adidas-hoody.png" class="bb-img")
							h3.bb-h
								|Adidas Blue<br />
								|<span>For men</span>
						a(href="#" class="block-catalog hidden-xs")
							img(src="img/repair-patches.png" class="fb-img")
							h3.fb-h
								|Repair Patches<br />
								|<span><i class="fa fa-gbp"></i> 150.50</span>
						a(href="#" class="other-block-catalog hidden-sm hidden-xs")
							img(src="img/purse.png" class='sb-img')
							h3.sb-h
								|Sale<br />
								|<span>-70%</span>
		include utils/footer
	//				Modules
	script(type="text/javascript", src="js/angular/app.js")

	//				Controllers
	script(type="text/javascript", src="js/angular/controller/catalogController.js")

	//				Directives
	script(type="text/javascript", src="js/angular/directives/newArrivals.js")
	script(type="text/javascript", src="js/script.js")