
<div ng-controller="catalogController">
  <div class="filter">
    <div goods-filter="" class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 padding-0">
          <form name="filters" method="post" class="hidden-sm hidden-xs">
            <select name="womFash[]" ng-model="fashionSelect" ng-options="wFashion.value for wFashion in womenFashions" multiple="multiple" class="fashion-filter filter-select"></select>
            <select name="womType[]" ng-model="TypeSelect" ng-options="wType.value for wType in womenTypes" multiple="multiple" class="type-filter filter-select"></select>
            <select name="womColor[]" ng-model="ColorSelect" ng-options="fColor.value for fColor in colors" multiple="multiple" class="color-filter filter-select"></select>
            <select name="womBrand[]" ng-model="BrandSelect" ng-options="brand.value for brand in brands" multiple="multiple" class="brand-filter filter-select"></select>
            <select name="womSize[]" ng-model="SizeSelect" ng-options="size.value for size in sizes" multiple="multiple" class="size-filter filter-select"></select>
            <select name="womPrice[]" ng-model="PriceSelect" ng-options="price.value for price in prices" multiple="multiple" class="price-filter filter-select"></select>
          </form>
          <form method="" action="" class="visible-xs visible-sm">
            <div small-filter="" class="smf-bar">
              <button type="button" class="smf-btn btn btn-default">
                <ul class="smf-btn-title">
                  <li>
                    <p data-filter-txt="Fashion," class="fashion-p">Fashion,</p>
                  </li>
                  <li>
                    <p data-filter-txt="Product type," class="type-p">Product type,</p>
                  </li>
                  <li>
                    <p data-filter-txt="Color," class="color-p">Color,</p>
                  </li>
                  <li>
                    <p data-filter-txt="Brand," class="brand-p">Brand,</p>
                  </li>
                  <li>
                    <p data-filter-txt="Size," class="size-p">Size,</p>
                  </li>
                  <li>
                    <p data-filter-txt="Price range" class="price-p">Price range</p>
                  </li>
                </ul><span class="filter-caret car-cl"><i class="fa fa-times"></i></span>
              </button>
              <div class="smf-drop-menu">
                <h3 class="smf-dropmen-h">Drag and Select</h3>
                <div class="filterSelct-row">
                  <h5 class="smf-row-h">Fashion</h5>
                  <div class="smul-wrap">
                    <ul class="smf-fashion smf-ul">
                      <li class="f-nSelectLi naughtS"><a href="#" data-filter-select="fashion" class="f-nSelect">Not selected,</a></li>
                      <li ng-repeat="WF in womenFashions"><a href="#" data-filter-select="fashion" class="f-select">{{ WF.value }}</a></li>
                    </ul>
                  </div>
                </div>
                <div class="filterSelct-row">
                  <h5 class="smf-row-h">Product type</h5>
                  <div class="smul-wrap">
                    <ul class="smf-type smf-ul">
                      <li class="f-nSelectLi naughtS"><a href="#" data-filter-select="type" class="f-nSelect">Not selected,</a></li>
                      <li ng-repeat="WT in womenTypes"><a href="#" data-filter-select="type" class="f-select">{{ WT.value }}</a></li>
                    </ul>
                  </div>
                </div>
                <div class="filterSelct-row">
                  <h5 class="smf-row-h">Color</h5>
                  <div class="smul-wrap">
                    <ul class="smf-color smf-ul">
                      <li class="f-nSelectLi naughtS"><a href="#" data-filter-select="color" class="f-nSelect">Not selected,</a></li>
                      <li ng-repeat="clr in colors"><a href="#" data-filter-select="color" class="f-select">{{ clr.value }}</a></li>
                    </ul>
                  </div>
                </div>
                <div class="filterSelct-row">
                  <h5 class="smf-row-h">Brand</h5>
                  <div class="smul-wrap">
                    <ul class="smf-brand smf-ul">
                      <li class="f-nSelectLi naughtS"><a href="#" data-filter-select="brand" class="f-nSelect">Not selected,</a></li>
                      <li ng-repeat="brand in brands"><a href="#" data-filter-select="brand" class="f-select">{{ brand.value }}</a></li>
                    </ul>
                  </div>
                </div>
                <div class="filterSelct-row">
                  <h5 class="smf-row-h">Size</h5>
                  <div class="smul-wrap">
                    <ul class="smf-size smf-ul">
                      <li class="f-nSelectLi naughtS"><a href="#" data-filter-select="size" class="f-nSelect">Not selected,</a></li>
                      <li ng-repeat="size in sizes"><a href="#" data-filter-select="size" class="f-select">{{ size.value }}</a></li>
                    </ul>
                  </div>
                </div>
                <div class="filterSelct-row">
                  <h5 class="smf-row-h">Price range</h5>
                  <div class="smul-wrap">
                    <ul class="smf-price smf-ul">
                      <li class="f-nSelectLi naughtS"><a href="#" data-filter-select="price" class="f-nSelect">Not selected,</a></li>
                      <li ng-repeat="price in prices"><a href="#" data-filter-select="price" class="f-select">{{ price.value }}</a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="container margin-bottom-15">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <h3 class="news-header">Last weekend <span>extra 50%</span> off on all reduced boots and shoulder bags</h3>
        <p class="news-p">This offer is valid in-store and online. Prices displayed reflect this additional discount. This offer ends at 11:59 GMT on March 1st 2015</p>
      </div>
      <div ng-repeat="good in goods" class="col-xs-6 col-sm-4 col-md-3 col-lg-3 arrivals">
        <new-arrivals info="good"></new-arrivals>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12"><a href="#" class="arrival-button">Show more</a></div>
    </div>
  </div>
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 padding-0"><a href="#" class="big-block-catalog"><img src="img/adidas-hoody.png" class="bb-img"/>
          <h3 class="bb-h">
            Adidas Blue<br />
            <span>For men</span>
          </h3></a><a href="#" class="block-catalog hidden-xs"><img src="img/repair-patches.png" class="fb-img"/>
          <h3 class="fb-h">
            Repair Patches<br />
            <span><i class="fa fa-gbp"></i> 150.50</span>
          </h3></a><a href="#" class="other-block-catalog hidden-sm hidden-xs"><img src="img/purse.png" class="sb-img"/>
          <h3 class="sb-h">
            Sale<br />
            <span>-70%</span>
          </h3></a></div>
    </div>
  </div>
</div>